/* General navbar styling */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #d41717; /* Dark background */
    color:black; 
    font-family: Arial,sans-serif;
  }
  
  .span-class{
    color: white;
    font-size: 20px;
    font-weight: bold;
  }

  /* Left side (application name) */
  .navbar-left a {
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-decoration: none;
  }
  
  .navbar-left a:hover {
    color: #00bcd4; 
  }
  
  /* Right side (links and buttons) */
  .navbar-right a {
    margin-left: 15px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
  }
  
  .navbar-right a:hover {
    color:black; 
  }
  
  /* Logout button styling */
  .logout-button {
    margin-left: 15px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .logout-button:hover {
    background-color: #00bcd4; /* Highlight color */
    border-color: #00bcd4;
    color: white;
  }